{% extends "EDAlbumBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Modifier l'album {{ album.title }}{% endblock %}

{% block edalbum_body %}
     <p>
        Etes-vous certain de vouloir supprimer l'album "{{ album.title }}" ?
      </p>
    
      <form action="{{ path('_ed_album_delete', {'id': album.id}) }}" method="post">
        <a href="{{ path('_ed_album_view', {'id': album.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à l'annonce
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
      </form>
  
{% endblock %}